[[extend 'layout.html']]

<meta http-equiv="refresh" content="20">

<div id="vue-target">
    <canvas id="myCanvas" width="750" height="750" @mousedown="handleMouseDown"></canvas>
    <br>
    <label style="color:#ffffff" for="colorWell">Color Picker:</label>
    <input style="background-color:#0a0a0a" class="input" type="color" id="colorWell" value="#0000ff">
<!--    <article class="media">-->
<!--        <textarea class="textarea" v-model="r" placeholder="Add a comment..."></textarea>-->
<!--        <textarea class="textarea" v-model="g" placeholder="Add a comment..."></textarea>-->
<!--        <textarea class="textarea" v-model="b" placeholder="Add a comment..."></textarea>-->
<!--    </article>-->
</div>

<style>
#myCanvas {
  border: 1px solid grey;
}
</style>

[[block page_scripts]]
<script>
  let load_image_url = "[[=XML(load_image_url)]]";
  let set_pixel_url = "[[=XML(set_pixel_url)]]";
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="js/index.js"></script>
[[end]]








